/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus,
  :active {
    outline: none;
  }
  a:focus,
  a:active {
    outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }

  /* --------------------------------------- */


  /*Боковая панель  */
.aside {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 5%;

}

/* Выбор меню боковой панели */
.aside__panel {
  background: #fa6767;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }

.aside__panel__header {
  padding: 5%;
  max-height: 15%;
}

.company__logo {
  width: 70%;
}

.aside__panel__header__btn {
  background: #fa6767;
  border-radius: 99%;
  /* сделать кнопку круглой, сейчас можно нажать за пределами изображения */
}

.aside__panel__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50%;
  padding: 5%;
}

.aside__panel__main__btn:hover,
.aside__panel__footer__btn:hover {
  background: #c55151
}

.aside__panel__main__btn {
  min-height: 10%;
}

.aside__panel__footer {
  display: flex;
  justify-content: center;
  max-height: 15%;
  min-height: 10%;
  padding: 5%;
}

/* Подменю боковой панели */
#aside__menu {
  display: flex;
  justify-content: center;
  height: 30%;
  width: 15%;
  position: absolute;
  left: 5%;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 5%;
}

.project__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5%;
}

.project {
  background: blue;
  border-radius: 20%;
  display: flex;
  justify-content: space-between;
  }

  .visibility__hidden {
    visibility: hidden;
  }

  .visibility__visible {
    visibility: visible;
  }