/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus,
  :active {
    outline: none;
  }
  a:focus,
  a:active {
    outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }

  /* --------------------------------------- */

 
  /*Боковая панель  */
.aside {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 5%;

}

/* Выбор меню боковой панели */
.aside__panel {
  background: #fa6767;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }

.aside__panel__header {
  padding: 5%;
  max-height: 15%;
}

.company__logo {
  width: 70%;
}

.aside__panel__header__btn {
  background: #fa6767;
  border-radius: 99%;
  /* сделать кнопку круглой, сейчас можно нажать за пределами изображения */
}

.aside__panel__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50%;
  padding: 5%;
}

.aside__panel__main__btn:hover,
.aside__panel__footer__btn:hover {
  background: #c55151
}

.aside__panel__main__btn {
  min-height: 10%;
}

.aside__panel__footer {
  display: flex;
  justify-content: center;
  max-height: 15%;
  min-height: 10%;
  padding: 5%;
}

/* Подменю боковой панели */
.aside__menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 18em;
  position: absolute;
  left: 5%;
}

.projects {
  display: flex;
  flex-direction: column;
  padding: 5%;
  border: 1px solid black;
  min-height: 30%;
}

.project__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}

.project {
  background: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.4em;
  cursor: pointer;
  height: 2.5em;
  width: 15em;
  margin-bottom: 0.2em;
  z-index: 998;
}

#project__logo {
  margin-left: 0.6em;
  width: 1.4em;
  border-radius: 0.3em;
  background-color: white;
}

.project__inList__name {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 13em;
  max-width: 13em;
  color: white;
  margin-left: 0.5em;
  white-space: nowrap;
}

.project__options__btn {
  padding: 0.5em;
  z-index: 1;
}

#project__options__btn__img {
  filter: brightness(100%);
  width: 0.2em;
  margin-right: 0.4em;
  margin-top: 0.1em;
}

.project__options {
  position: absolute;
  top: 0%; /* Начальная позиция - после родительского элемента */
 
 
  width: 5.5em;
  height: 3.8em;
  z-index: 999;
  border: 1px solid black;
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.project__option {
  margin: 0.1em;
  cursor: pointer;
}

.projects__logo {
  position: absolute;
  width: 10em;
  height: 5em;
  border: 1px solid black;
}

.team__members {
  display: flex;
  flex-direction: column;
  padding: 5%;
  min-height: 35%;
  border: 1px solid black;
}

.total__hours {
  display: flex;
  flex-direction: column;
  padding: 5%;
  height: 25%;
  border: 1px solid black;
}

.new__project {
  display: flex;
  flex-direction: column;
  padding: 5%;
  height: 10%;
  border: 1px solid black;
}


/* Скрытие элементов, класс всегда должен быть в конце */
.visibility__hidden {
  /* display: none; */
  visibility: hidden;
}